[Desktop Entry]
Version=1.0
Name=Freeplane
Icon=/opt/{{ fp_path }}freeplane.svg
Exec=/opt/{{ fp_path }}freeplane.sh
Terminal=false
Type=Application
MimeType=text/x-troff-mm;
Categories=Office;GTK;GNOME;
GenericName=Freeplane
Comment=A free tool to organise your information
Keywords=Mindmaps; Knowledge management; Brainstorming;
